/* So I prefer camelCase... */

body {
	margin: 0;
	background-color: #C4B8F5;
	font-family: 'Oxygen', Helvetica, sans-serif;
}

#mainbody {
	position: relative;
	width: 100%;
	height: 100vh;
}

#focusCard {
	margin: 50px auto;
}

#title {
	margin: 50px;
	color: white;
	font-size: 3em;
	position: relative;
}

#description {
	width: 33%;
	position: relative;
	float: left;
	font-size: 18px;
	margin: 50px;
	margin-top: 0;
}

#turnCounter {
	text-align: center;
	margin-top: -40px;
	margin-bottom: 40px;
	width: 100%;
}

.score {
	position: relative;
	margin-right: 50px;
	font-size: 36px;
	float: right;
	clear: right;
	color: #FFF;
}

#tinyContainer {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

#results {
	position: relative;
	float: bottom;
	width: 100%;
	height: 100vh;
	background-color: #F0F25A;
	padding-top: 100px;
}

#resultSquare {
	position: relative;
	width: 800px;
	height: 400px;
	border: 10px solid #000;
	margin: 0 auto;
	padding: 100px;
}

/*------------------[Card related CSS]-------------------------*/

.card {
	position: relative;
	background-repeat: no-repeat;
	background-size: 200px 300px;
	width: 200px;
	height: 300px;
	margin: 50px auto;
}

.tinyCard{
	position: relative;
	background-repeat: no-repeat;
	background-size: 100px 150px;
	width: 100px;
	height: 150px;
	margin: 0 30px;
	float: left;
}

.star.tinyCard {
	background-image: url("starCard.svg");
}

.square.tinyCard {
	background-image: url("squareCard.svg");
}

.circle.tinyCard {
	background-image: url("circleCard.svg");
}

.wave.tinyCard {
	background-image: url("waveCard.svg");
}

.cross.tinyCard {
	background-image: url("crossCard.svg");
}

.question.card {
	background-image: url("questionCard.svg");
}

.star.card {
	background-image: url("starCard.svg");
}

.square.card {
	background-image: url("squareCard.svg");
}

.circle.card {
	background-image: url("circleCard.svg");
}

.wave.card {
	background-image: url("waveCard.svg");
}

.cross.card {
	background-image: url("crossCard.svg");
}

/*------------------[Card flipping related CSS]-------------------------*/
/*Credit: Dave Walsh (https://davidwalsh.name/css-flip)*/

/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    transform-style: preserve-3d;
}

/* flip the pane when hovered */
/*  UPDATED! flip the pane when hovered (IE Compatability code) */
/*.flip-container:hover .back {
	transform: rotateY(0deg);
}
.flip-container:hover .front {
    transform: rotateY(180deg);
}
*/
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 200px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 1.6s;
	-webkit-transition: 1.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 1.6s;
	-moz-transform-style: preserve-3d;
  
    -o-transition: 1.6s;
	-o-transform-style: preserve-3d;

	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
    transition: 1.6s;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background: url("questionCard.svg") 0 0 no-repeat;
	background-size: 200px 300px;
	background-repeat: no-repeat;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);

	background: url("questionCard.svg");
	background-size: 200px 300px;
	background-repeat: no-repeat;
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.0.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014. Generated with Sass.
 */
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}